<h1>Hello teacher</h1>

<ul>
  <% @teachers.each do |teacher| %>
  <li>
    <a href="/teacher/<%= teacher.id %>">
      
    <%= teacher.id %>  
    <%= teacher.name %>
    

    
   
  </li>



  <% end %>
</ul>
